<section class="admin">
    <h1 class="titulo">Confira os agendamentos</h1>
    <table class="tabela">
        <thead>
            <tr>
                <th>Nome:</th>
                <th>Telefone:</th>
                <th>Data:</th>
                <th>Horário:</th>
                <th>Serviço:</th>
                <th>Operações:</th>
            </tr>
        </thead>
        <tbody>
            {{#each agendamentos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{telefone}}</td>
                <td>{{data}}</td>
                <td>{{horario}}</td>
                <td>{{servico}}</td>
                <td>
                    <a href=""><i class="fa-solid fa-pen"></i></a>
                    <a href="/deletar/{{id}}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</section>
