<section class="admin">
    <div class="header-admin">
        <a href="/login"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/"><img src="/img/logo.svg" alt="Logo da barbearia" width="80px" ;></a>
        <button  id="btn-sair">Sair</button>
    </div>
    <h1 class="titulo">Confira os agendamentos</h1>
    <table class="tabela">
        <thead>
            <tr>
                <th>Nome:</th>
                <th>Telefone:</th>
                <th>Data:</th>
                <th>Horário:</th>
                <th>Serviço:</th>
                <th>Operações:</th>
            </tr>
        </thead>
        <tbody>
            {{#each agendamentos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{telefone}}</td>
                <td>{{data}}</td>
                <td>{{horario}}</td>
                <td>{{servico}}</td>

                <td>
                    <a href="/editar/{{id}}"><i class="fa-solid fa-pen"></i></a>
                    <a href="/deletar/{{id}}"
                        onclick="return confirm('Tem certeza que deseja excluir este agendamento?');"><i
                            class="fa fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</section>

<script>
    document.getElementById('btn-sair').addEventListener('click', function () {
        window.location.href = '/';
    });
</script>